<header class="col-md-10 col-md-offset-1">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">LOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/posts">Products</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
            </ul>
         </div>
    </nav>
</header>